#root {
    background-color: darkcyan;
    padding: 10px;
}

.tweet {
    background-color: khaki;
    padding: 10px;
    margin: 10px;
    color: black;
    border: 2px solid black;
    width: 250px;
}

.unimportant {
    color: darkcyan;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 0px;
}